<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Game Library Manager</title>
  <link href="../CSS/style.css" rel="stylesheet" type="text/css" />
  <script src="../JS/script.js"></script>
</head>

<body>

    <!-- Use any element to open the sidenav -->
    <div id = "Topbuttons">
        <a onclick="openNav()" class="libraryButton" href="#">My Game Library</a>
        <button id="logout" action = "/log-out">Log out</button>
        <button id="viewprofile" action = "/view-profile">View Profile</button>
        
        <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
        <div id="main">
            <h1 style="text-align: center;">My Library</h1>
        </div>
    </div>
    <dd>
        <a href = "GamePages/Pokemon.html"><img id="games" src="../Images/GAMES PHOTOS/pokemon cover.jpg" alt="Pokemon Cover">{{this.libGames}}</a>
        <a href = "GamePages/Elden.html"><img id="games" src="../Images/GAMES PHOTOS/elden cover.jpg" alt="Elden Cover">{{this.libGames}}{{this.libGames}}</a>
        <a href = "GamePages/Minecraft.html"><img id="games" src="../Images/GAMES PHOTOS/Minecraft_cover.png" alt="Minecraft Cover">{{this.libGames}}</a>
        <a href = "GamePages/SW.html"><img id="games" src="../Images/GAMES PHOTOS/SW cover.webp" alt="SW Cover">{{this.libGames}}</a>
        <a href = "GamePages/AC.html"><img id="games" src="../Images/GAMES PHOTOS/ac cover.jpg" alt="AC Cover">{{this.libGames}}</a>
        <a href = "GamePages/FF7.html"><img id="games" src="../Images/GAMES PHOTOS/ff7 cover.jpg" alt="ff7 Cover">{{this.libGames}}</a>
    </dd>

    <!-- Animated Background Boxes -->
    <div class="animation">
        <ul class="boxes">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    
</body>
</html>